.page[b-f8hfj7zhvy] {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main[b-f8hfj7zhvy] {
    flex: 1;
}


@media (min-width: 641px) {
    .page[b-f8hfj7zhvy] {
        flex-direction: row;
    }

    .sidebar[b-f8hfj7zhvy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

}
