@inherits LayoutComponentBase

<PageTitle>WeatherApp</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>
        </div>

    </main>
</div>
